<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SignalR Chat - Metanit.com</title>
</head>
<body>
    <h1>Chat</h1>
    <h2>Write something here</h2>
    <div id="inputForm">
        <input type="text" id="message" />
        <input type="button" id="sendBtn" value="Send Message" />
    </div>
    <div id="chatpanel">
        <div id="chatroom"></div>
        <input type="button" id="clearBtn" value="Clear Chat" style="margin-top: 10px;" />
    </div>
    <script src="~/js/signalr/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
</body>
</html>